[submodule "spdlog"]
	path = Arx/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "glm"]
	path = Arx/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/cmake"]
	path = vendor/cmake
	url = https://github.com/Enhex/premake-cmake.git
